/*Общие стили*/
* {
    padding: 0px;
    margin: 0px;
    bottom: 0px;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
aside,
nav,
footer,
header,
section {
    display: block;
}
html,
body {
    height: 100%;
}
body {
    width: 100%;
    line-height: 1;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    bottom: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1 {
    font-weight: inherit;
    font-size: inherit;
}
.Quicksand {
    font-family: 'Quicksand', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Quicksand', sans-serif;
}
.switcher {
    display: flex;
    margin: 0 20px;
}
.switcher input {
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
}
.switcher label {
    width: 50%;
    color: #0f7bff;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    padding: 12px 16px;
    margin-right: -1px;
    transition: all 0.1s ease-in-out;
    border: 2px solid #0f7bff;
    border-radius: 50px 0 0 50px;
}
.switcher label:last-child {
    border-radius: 0 50px 50px 0;
}
.switcher label:hover {
    cursor: pointer;
}
.switcher input:checked + label {
    background-color: #0f7bff;
    color: #fff;
    box-shadow: none;
}
.btn {
    font-size: 16px;
    font-weight: bold;
    background-color: #0f7bff;
    border-radius: 50px;
    padding: 10px 50px;
    cursor: pointer;
    outline: none;
    flex-shrink: 0;
}
.btn a {
    color: #fff;
}
.btn .blue {
    background-color: #0f7bff;
}
.btn:hover {
    -webkit-box-shadow: 3px 3px 13px 0px rgba(105, 105, 105, 0.75);
    -moz-box-shadow: 3px 3px 13px 0px rgba(105, 105, 105, 0.75);
    -ms-box-shadow: 3px 3px 13px 0px rgba(105, 105, 105, 0.75);
    box-shadow: 3px 3px 13px 0px rgba(105, 105, 105, 0.75);
    transition: all 0.3s ease;
}
.btn:hover a {
    color: #ffffff;
}
.bordered {
    background-color: #f5fcfd;
    border: 2px solid #0f7bff;
}
.bordered a {
    font-weight: bold;
    color: #0f7bff;
}
.bordered:hover {
    -webkit-box-shadow: 3px 3px 13px 0px rgba(105, 105, 105, 0.75);
    -moz-box-shadow: 3px 3px 13px 0px rgba(105, 105, 105, 0.75);
    -ms-box-shadow: 3px 3px 13px 0px rgba(105, 105, 105, 0.75);
    box-shadow: 3px 3px 13px 0px rgba(105, 105, 105, 0.75);
    transition: all 0.3s ease;
}
.bordered:hover a {
    color: #0f7bff;
}
.section-inner {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.section-header {
    
    background: #fff url(../img/header/first-bg.jpg) no-repeat 50% 50% / cover;
}
.section-header .section-inner {
    margin: 0 140px;
    height: 1042px;
    position: relative;
}
.section-header-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.section-header-navbar__logo {
    width: 180px;
    height: 100px;
    background: #0f7bff;
    color: #fff;
    font-size: 36px;
    text-align: center;
    line-height: 100px;
    font-weight: 500;
    border-radius: 0 0px 20px 20px;
}
.section-header-navbar__burger {
    display: none;
    width: 50px;
    background-color: #fff;
    position: relative;
    color: #fff;
    height: 30px;
    background: transparent;
}
.section-header-navbar__menu {
    display: flex;
    flex-grow: 1;
    flex-direction: row-reverse;
}
.section-header-navbar__menu-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.section-header-navbar__menu-list li {
    padding: 0 40px 0 0;
}
.section-header-navbar__menu-list li:last-child {
    padding: 0 60px 0 0;
}
.section-header-navbar__menu-list__link {
    color: #b7b9ba;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 27px;
}
.section-header-navbar__menu-list__link:hover {
    color: #0f7bff;
    font-size: 16px;
    line-height: 27px;
}
.section-header-navbar__signup {
    background-color: #0063dd;
}
.section-header-navbar__signup a {
    font-weight: bold;
}
.section-header-offer {
    display: flex;
    color: black;
    margin: 0 23%;
    height: 30%;
}
.section-header-wrapper {
    text-align: center;
    margin: auto;
    width: 664px;
}
.section-header-wrapper__title,
.section-header-wrapper__subtitle {
    text-align: center;
    justify-content: center;
}
.section-header-wrapper__title {
    font-size: calc(17px + 15 * (100vw / 1920));
    color: #333333;
    line-height: 24px;
    margin-bottom: 30px;
    font-weight: bold;
}
.section-header-wrapper__text {
    font-size: calc(14px + 2 * (100vw / 1920));
    color: #929292;
    line-height: 27px;
    padding-bottom: 15px;
    margin-bottom: 10px;
}
.section-header-wrapper__buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 16%;
}
.section-header .scroll-down {
    position: absolute;
    bottom: -3%;
    left: 48%;
    cursor: pointer;
}
.section-header .scroll-down a.scroll-down__btn img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.section-inner-main {
    display: flex;
    margin: 0 auto;
    max-width: 1150px;
}
.section-features {
    background-color: #f5fcfd;
    height: 635px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.section-features__icons {
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-features__icon {
    height: 293px;
    width: 30%;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 20px 0px #f0f0f0;
    -moz-box-shadow: 0px 0px 20px 0px #f0f0f0;
    -ms-box-shadow: 0px 0px 20px 0px #f0f0f0;
    box-shadow: 0px 0px 20px 0px #f0f0f0;
    padding: 2px;
}
.section-features__icon-img {
    margin-bottom: 30px;
}
.section-features__icon-title {
    color: #333333;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}
.section-features__icon-text {
    color: #929292;
    font-size: 16px;
    line-height: 27px;
}
.icon-1 {
    align-self: flex-start;
}
.icon-2 {
    align-self: flex-end;
}
.icon-3 {
    align-self: flex-start;
}
.section-inner-about {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 16%;
    height: 100%;
}
.section-about {
    height: 1120px;
}
.section-about .second {
    flex-direction: row-reverse;
}
.section-about .second .section-about__container-pics {
    display: flex;
    position: relative;
    width: 682px;
}
.section-about .second .section-about__container-pics .diamond {
    width: 422px;
    height: 483px;
    background: #0f7bff;
    border-radius: 50px;
    transform: rotate(-34deg);
    position: relative;
    top: 50px;
    left: 201px;
    z-index: 1;
}
.section-about__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 605px;
}
.section-about__container-pics {
    display: flex;
    position: relative;
}
.section-about__container-pics .diamond {
    width: 418px;
    height: 483px;
    background: #0f7bff;
    border-radius: 50px;
    transform: rotate(-38deg);
    position: relative;
    top: 50px;
    left: 55px;
    z-index: 1;
}
.section-about__container-pics .back-pic {
    position: relative;
    left: -265px;
    top: 116px;
    z-index: 2;
    height: fit-content;
    -webkit-box-shadow: 3px 3px 13px 0px rgba(105, 105, 105, 0.75);
    -moz-box-shadow: 3px 3px 13px 0px rgba(105, 105, 105, 0.75);
    -ms-box-shadow: 3px 3px 13px 0px rgba(105, 105, 105, 0.75);
    box-shadow: 3px 3px 13px 0px rgba(105, 105, 105, 0.75);
}
.section-about__container-pics .front-pic {
    left: 329px;
    top: 147px;
    z-index: 3;
    position: absolute;
    -webkit-box-shadow: 3px 3px 13px 0px rgba(105, 105, 105, 0.75);
    -moz-box-shadow: 3px 3px 13px 0px rgba(105, 105, 105, 0.75);
    -ms-box-shadow: 3px 3px 13px 0px rgba(105, 105, 105, 0.75);
    box-shadow: 3px 3px 13px 0px rgba(105, 105, 105, 0.75);
}
.section-about__container-info {
    width: auto;
    margin-right: -36px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 250px;
}
.section-about__container-title {
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 20px;
    color: #333333;
}
.section-about__container-text {
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 20px;
    color: #929292;
}
.section-about__container-read-more {
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
}
.section-about__container-read-more:visited {
    color: #0f7bff;
}
.section-about__container-read-more:active,
.section-about__container-read-more:hover {
    text-decoration: underline;
}
.section-how {
    background-color: #f5fcfd;
    height: 635px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.how {
    text-align: center;
    background: #f5fcfd url(../img/how/Line.png) no-repeat center / cover;
    margin: 0 15%;
}
.section-how__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
    padding: 20px 0;
    color: #333333;
    background: url(../img/how/1.png) no-repeat 50% 0%, url(../img/how/1.png) no-repeat 47% 100%;
    margin-bottom: 10px;
}
.section-how__text {
    font-size: 16px;
    line-height: 27px;
    margin: 0 18% 4%;
    color: #929292;
}
.section-how__instruction {
    display: flex;
    flex-direction: row;
}
.section-how__instruction .col {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}
.section-how__instruction-img {
    margin-bottom: 20px;
}
.section-how__instruction-title {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
}
.section-how__instruction-text {
    font-size: 16px;
    line-height: 27px;
    color: #929292;
}
.col {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}
.section-pricing {
    height: 740px;
    display: flex;
}
.section-pricing > .section-inner {
    margin: 0 auto;
    justify-content: center;
}
.section-pricing__container {
    display: flex;
    flex-direction: row;
    height: 78%;
    justify-content: center;
}
.section-pricing__container-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: 35%;
    min-width: 250px;
}
.section-pricing__container-info__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 20px;
    color: #333333;
}
.section-pricing__container-info__text {
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 20px;
    color: #929292;
}
.section-pricing__container-info__period {
    display: flex;
    flex-direction: row;
}
.section-pricing__container-info__period input {
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
}
.section-pricing__container-info__period input:checked {
    background-color: #0f7bff;
}
.section-pricing__container-block {
    display: flex;
    flex-direction: row;
}
.section-pricing__container-plans {
    -webkit-box-shadow: 0px 0px 30px 0px #c4c4c4;
    -moz-box-shadow: 0px 0px 30px 0px #c4c4c4;
    -ms-box-shadow: 0px 0px 30px 0px #c4c4c4;
    box-shadow: 0px 0px 30px 0px #c4c4c4;
    padding: 29px 97px;
    text-align: center;
    flex: 0 0 30%;
    justify-content: center;
}
.section-pricing__container-plans-img {
    margin-bottom: 23px;
}
.section-pricing__container-plans-name {
    margin-bottom: 23px;
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    border-bottom: 1px solid #E0E0E0;
    color: #333333;
}
.section-pricing__container-plans-service {
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 10px;
    color: #929292;
}
.section-pricing__container-plans-service p {
    margin-bottom: 5px;
}
.section-pricing__container-plans-price {
    color: #0f7bff;
    font-weight: 500;
    line-height: 36px;
    font-size: 25px;
    margin-bottom: 33px;
}
.section-pricing__container-plans-price + .btn {
    padding: 14px 10px;
}
.section-pricing__container-plans .price-btn {
    margin: 0 -15%;
}
.section-inner-testimonials {
    display: flex;
    flex-direction: row;
    width: 98vw;
}
.section-testimonials {
    background-color: #f5fcfd;
    height: 608px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.section-testimonials__img {
    width: 100%;
    flex: 0 1 30%;
}
.section-testimonials__img img {
    width: 100%;
    margin-right: 20px;
    height: 100%;
    object-fit: contain;
}
.section-testimonials__container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 100px 10px 100px 20px;
    flex: 1 1 70%;
}
.section-testimonials__container-title {
    font-weight: 500;
    font-size: calc(18px + 15 * (100vw / 1920));
    line-height: 36px;
    margin-bottom: 20px;
    color: #333333;
}
.section-testimonials__container-slider {
    background: transparent;
    min-width: 0;
}
.owl-carousel {
    display: block;
    box-sizing: border-box;
    min-width: 0;
}
.slick-list {
    overflow: hidden;
}
.slick-track {
    display: flex;
}
.owl-carousel .slick-dots {
    display: flex;
    padding: 10px 5px;
    align-items: center;
}
.slick-dots button {
    visibility: hidden;
}
.slick-dots li {
    border-radius: 15px;
    font-size: 0;
    width: 20px;
    height: 10px;
    margin: 0 10px;
    background-color: #D4D4D4;
    border: none;
    transition: all 0.3s ease;
    margin: 0 5px;
}
.slick-dots li:hover,
.slick-dots li:active {
    width: 30px;
    background-color: #0f7bff;
}
.slick-dots > .slick-active {
    width: 30px;
    background-color: #0f7bff;
}
.slider-item {
    margin: 0 5px;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 17px;
}
.slider-item__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
}
.slider-item__header-col {
    display: flex;
    flex-direction: column;
}
.slider-item__header-col p.name {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
}
.slider-item__header-col p.role {
    color: #929292;
    font-size: 14px;
    line-height: 27px;
}
.slider-item__body {
    color: #929292;
    font-size: 16px;
    line-height: 27px;
}
.section-inner-latest {
    margin: 0 19%;
    height: 100%;
}
.section-latest__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 960px;
    justify-content: center;
}
.section-latest__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
    padding: 20px 0;
    margin-bottom: 10px;
    color: #333333;
    background: url(../img/how/1.png) no-repeat 50% 0%, url(../img/how/1.png) no-repeat 46% 100%;
}
.section-latest__text {
    font-size: 16px;
    line-height: 27px;
    margin: 0 18% 4%;
    color: #929292;
}
.section-latest__page {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
}
.section-latest__main-page {
    flex: 1 0 40%;
    padding-right: 20px;
    margin: 0 2%;
    text-align: left;
}
.section-latest__main-page-image {
    width: 100%;
    margin-bottom: 30px;
}
.section-latest__main-page-image img {
    width: 100%;
}
.section-latest__main-page-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #0f7bff;
    margin-bottom: 20px;
}
.section-latest__main-page-text {
    color: #b7b9ba;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 20px;
}
.section-latest__main-page-read-more {
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
}
.section-latest__main-page-read-more:visited {
    color: #0f7bff;
}
.section-latest__main-page-read-more:active,
.section-latest__main-page-read-more:hover {
    text-decoration: underline;
}
.section-latest__pages {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 0 1 60%;
}
.section-latest__pages .item {
    display: flex;
    flex-direction: row;
    margin-bottom: 35px;
}
.section-latest__pages .item img {
    object-fit: contain;
    object-position: center;
    padding-right: 30px;
}
.section-latest__pages-content {
    text-align: left;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.section-latest__pages-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #333333;
    margin-bottom: 10px;
}
.section-latest__pages-text {
    color: #b7b9ba;
    font-size: 16px;
    line-height: 27px;
}
.section-inner-trial {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 21%;
    height: 100%;
}
.section-trial {
    background-color: #f5fcfd;
    height: 336px;
    align-items: center;
    position: relative;
    top: -2%;
}
.section-trial__block {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    justify-content: center;
}
.section-trial__block-title {
    font-weight: 500;
    font-size: calc(17px + 15 * (100vw / 1920));
    line-height: 36px;
    color: #333333;
    margin-bottom: 18px;
}
.section-trial__block-text {
    font-size: 16px;
    line-height: 27px;
    color: #b7b9ba;
}
.section-trial__block .btn-trial {
    background-color: #0f7bff;
    border-radius: 5px;
    outline: none;
    flex-shrink: 0;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 263px;
    height: 76px;
    justify-content: center;
}
.section-trial__block .btn-trial img {
    margin-left: 10px;
}
.section-trial__block .btn-trial:hover {
    -webkit-box-shadow: 3px 3px 13px 0px rgba(105, 105, 105, 0.75);
    -moz-box-shadow: 3px 3px 13px 0px rgba(105, 105, 105, 0.75);
    -o-box-shadow: 3px 3px 13px 0px rgba(105, 105, 105, 0.75);
    -ms-box-shadow: 3px 3px 13px 0px rgba(105, 105, 105, 0.75);
    box-shadow: 3px 3px 13px 0px rgba(105, 105, 105, 0.75);
    transition: all 0.3s ease;
}
.section-widget {
    background-color: #0f7bff;
    height: 828px;
    align-items: center;
    position: relative;
}
.section-widget__block {
    margin: auto;
}
.section-widget__block-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 40px;
    text-align: center;
}
.section-widget__block-form {
    margin: 0 -40%;
}
.section-widget__block-form input[type=text] {
    padding: 15px 20px;
    border-radius: 50px 0 0 50px;
    border: 2px solid #fff;
    background-color: #0f7bff;
    color: #fff;
    width: 70%;
    font-size: 16px;
    line-height: 27px;
}
.section-widget__block-form input[type=text]::placeholder {
    color: #fff;
    background-color: #0f7bff;
}
.section-widget__block-form input[type=submit] {
    width: 30%;
    background-color: #fff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    margin: 4px -5px;
    cursor: pointer;
    border-radius: 0 50px 50px 0;
    border: 2px solid #fff;
    color: #0f7bff;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
}
.section-inner-widget {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 21%;
    height: 50%;
}
/*Footer*/
.footer {
    height: 100%;
}
.section-footer {
    background-color: #0f7bff;
    height: 100px;
    border-top: 1px solid #fff;
    font-size: 16px;
    line-height: 27px;
    color: #fff;
}
.section-footer__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}
.section-footer__content-copyright {
    font-size: calc(10px + 6 * (100vw / 1920));
}
.section-footer__content-menu {
    display: flex;
    flex-direction: row;
}
.section-footer__content-menu-list {
    display: flex;
}
.section-footer__content-menu-list li {
    padding: 0 44px 0 0;
}
.section-footer__content-menu-list__link,
.section-footer__content-menu-list__link:visited {
    color: #b7b9ba;
    font-size: calc(10px + 8 * (100vw / 1920));
    line-height: 27px;
}
.section-footer__content-menu-list__link:hover {
    color: #fff;
}
.section-footer__content-social a {
    padding: 5px;
}
.section-footer__content-social a img {
    vertical-align: middle;
}
.section-footer__content-scroll-up {
    width: 45px;
    height: 45px;
    background-color: #fff;
    color: #0063dd;
    text-align: center;
    justify-content: center;
    display: flex;
}
.section-footer__content-scroll-up a,
.section-footer__content-scroll-up a:visited {
    height: 100%;
    width: 100%;
    display: block;
    color: #0063dd;
    font-size: 36px;
    line-height: 37px;
}
.section-footer__content-scroll-up a img,
.section-footer__content-scroll-up a:visited img {
    vertical-align: middle;
}
